main {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .box {
    width: 80%;
    height: 60vh;
    display: grid;
    place-content: center;
    
    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        #101010,
        #101010 5%,
        #101010 60%,
        #101010 95%
      );
    
    border: solid 0.5px transparent;
    border-radius: 5px 5px 5px 5px;
    
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #ffffff, #ffffff 99%, transparent);
    
    background: 
      var(--main-bg) padding-box,
      var(--gradient-border) border-box, 
      var(--main-bg) border-box;
    
    background-position: center center;
  
    animation: bg-spin 3s linear infinite;
    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  