<main>
    <nav>
        <ul>
            <li>
                <a href="#">
                    <span class="emoji">👋</span>
                    <span>Hello!</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="emoji">💻</span>
                    <span>Tech Stack</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="emoji">🚀</span>
                    <span>Starred Projects</span>
                </a>
            </li>
        </ul>
    </nav>
</main>

