<main>
    <div class="row">
        <div class="rectangle lm-width bg-gradient-green-blue"></div>
        <div class="rectangle m-width bg-gradient-turquoise-purple"></div>
        <div class="circle"></div>
    </div>
    <div class="row">
        <div class="rectangle xl-width bg-gradient-pink-yellow"></div>
    </div>
    <div class="row">
        <div class="rectangle l-width"></div>
        <div class="rectangle s-width"></div>
        <div class="rectangle l-width"></div>
    </div>
    <div class="row">
        <div class="rectangle s-width"></div>
        <div class="circle"></div>
        <div class="rectangle l-width"></div>
        <div class="rectangle s-width"></div>
    </div>
    <div class="row">
        <div class="rectangle xl-width bg-gradient-green-blue"></div>
    </div>
    <div class="container">
        <span class="type" style="--n:53">
            <span class="line1">Hi. I'm Shanny!</span>
            <br>
            <span class="line2">A passionated pixel-pusher.</span>
        </span>
    </div>
    <div class="row">
        <div class="rectangle l-width"></div>
        <div class="circle"></div>
    </div>
    <div class="row">
        <div class="rectangle s-width"></div>
        <div class="rectangle xl-width"></div>
    </div>
    <div class="row">
        <div class="rectangle m-width"></div>
        <div class="rectangle s-width"></div>
        <div class="rectangle l-width"></div>
    </div>
    <div class="row">
        <div class="rectangle xl-width"></div>
    </div>
    <div class="row">
        <div class="rectangle ms-width"></div>
        <div class="circle"></div>
        <div class="rectangle m-width"></div>
        <div class="rectangle s-width"></div>
    </div>
</main>