<main>
    <div class="row">
        <div class="rectangle lm-width bg-gradient-line-1-col-1"></div>
        <div class="rectangle s-width bg-gradient-line-1-col-2"></div>
        <div class="square bg-gradient-line-1"></div>
    </div>
    <div class="row">
        <div class="rectangle xl-width bg-gradient-line-2-col-1"></div>
    </div>
    <div class="row">
        <div class="rectangle l-width bg-gradient-line-3-col-1"></div>
        <div class="rectangle s-width bg-gradient-line-3-col-2"></div>
        <div class="rectangle l-width bg-gradient-line-3-col-3"></div>
    </div>
    <div class="row">
        <div class="rectangle s-width bg-gradient-line-4-col-1"></div>
        <div class="square bg-gradient-line-4"></div>
        <div class="rectangle l-width bg-gradient-line-4-col-2"></div>
        <div class="rectangle s-width bg-gradient-line-4-col-3"></div>
    </div>
    <div class="row">
        <div class="square bg-gradient-line-5"></div>
        <div class="rectangle xl-width bg-gradient-line-5-col-1"></div>
    </div>
    <div class="animated-text">
        <h1>Hi. I'm Shannon!</h1>
        <h3>I'm a <span></span></h3>
    </div>
    <div class="row">
        <div class="rectangle l-width bg-gradient-line-6-col-1"></div>
        <div class="square bg-gradient-line-6"></div>
    </div>
    <div class="row">
        <div class="rectangle s-width bg-gradient-line-7-col-1"></div>
        <div class="rectangle xl-width bg-gradient-line-7-col-2"></div>
    </div>
    <div class="row">
        <div class="rectangle m-width bg-gradient-line-8-col-1"></div>
        <div class="rectangle l-width bg-gradient-line-8-col-2"></div>
        <div class="rectangle m-width bg-gradient-line-8-col-3"></div>
    </div>
    <div class="row">
        <div class="rectangle xl-width bg-gradient-line-9-col-1"></div>
    </div>
    <div class="row">
        <div class="rectangle ms-width bg-gradient-line-10-col-1"></div>
        <div class="square bg-gradient-line-10"></div>
        <div class="rectangle m-width bg-gradient-line-10-col-2"></div>
        <div class="rectangle s-width bg-gradient-line-10-col-3"></div>
    </div>
</main>