<main>
    <div class="container">
        <div class="project-card">
            <div class="card-front">To Do List</div>
            <div class="card-back">Lorem ipsum</div>
        </div>
        <div class="project-card">
            <div class="card-front">Music API</div>
            <div class="card-back">Lorem ipsum</div>
        </div>
    </div>
    <div class="container">
        <div class="project-card">
            <div class="card-front">Flick Picker</div>
            <div class="card-back">Lorem ipsum</div>
        </div>
        <div class="project-card">
            <div class="card-front">Dice or Die</div>
            <div class="card-back">Lorem ipsum</div>
        </div>
    </div>
</main>
