main {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.project-card {
    height: 80%;
    width: 80%;
    background-color: #201f1fe8;
    border-radius: 5px 5px 5px 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    cursor: pointer;
    font-size: 40px;
}

.project-card:hover {
    background-color: #2d2c2ce8;
}

.project-card .card-front {
    position: absolute;
}

.project-card .card-back {
    transform: rotateY(90deg);
}

.project-card:hover .card-front {
    animation: flip 0.2s ease-in forwards;
}

.project-card:hover .card-back {
    animation: flip 0.2s 0.2s ease-out forwards reverse;
}

@keyframes flip {
    0% { transform: rotateY(0deg) }
    100% { transform: rotateY(90deg) }
}