body {
    margin: 0;
    padding: 0;
    background: radial-gradient(black, black, #1c1c1c);
    color: white;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
}